<div>
  <label for="">Cidade</label>
  <input
    type="text"
    [(ngModel)]="cidade"
  >
</div>

<button
  type="button"
  (click)="findCidade()"
>Pesquisar</button>

<p><strong>Cidade: </strong> {{city.name}}</p>
<p><strong>País: </strong> {{city.country}}</p>
<p><strong>População: </strong> {{city.population}}</p>

<table style="width: 100%">
  <tr>
    <th>Data</th>
    <th>Tempo</th>
    <th>Descrição</th>
  </tr>
  <tbody>
    <tr *ngFor="let t of tempo">
      <td style="border-collapse: collapse;border: solid 1px #000">{{t.main}}</td>
      <td style="border-collapse: collapse;border: solid 1px #000">{{t.description}}</td>
      <td style="border-collapse: collapse;border: solid 1px #000">{{t.dt | date: 'dd/MM/yyyy'}}</td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
